/**
 * Created on October, 2015 by George Ruan.
 *
 * Stylesheet for lisaNavBar.
 */

/* ============= CONTAINERS ============= */
#nav > div {
  padding: 5% 0 5% 0;
}

#navbar li {
  width:33%;
  text-align: center;
}
