/**
 * Created on October 25, 2015 by George Ruan.
 *
 * Stylesheet for Globals.
 */

 /* ============= GLOBALS ============= */

 ::-webkit-scrollbar {
     display: none;
 }

 html,
 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   height: 100%;
   position: relative;
 }

 h1 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   text-transform: uppercase;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 h2 {
   font-size: 1.2em;
 }

 h3 {
   font-size: 1em;
   font-weight: normal;
 }

 h4 {
   text-transform: uppercase;
 }

 p {
     line-height: 1.5;
 }

 section {
   position: relative;
 }

 div {
   position: relative;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0 0;
 }

 a,
 a:link,
 a:visited,
 a:hover,
 a:active {
   outline: none;
   text-decoration: none;
 }

 input:focus {
   outline: none;
 }
