<div id="#applewatch">
    <!-- Intro -->
    <section class="container-light">
        <div class= "row">
            <div class="col-xs-offset-2 col-xs-5">
                <h2>RetailMeNot Apple Watch App Design</h2>
                <h3>Donec at justo et tortor sollicitudin porttitor vel porttitor mi. Duis dignissim sodales metus sodales semper. Donec a justo vel dolor sagittis aliquam eget vel elit. Sed efficitur volutpat turpis sit</h3>
                <h3>Proin lacus dui, gravida non elementum eget, lacinia et ex. Proin faucibus id nulla eu ultricies. Aenean luctus, justo congu</h3>
                <h2>Final Design</h2>
            </div>

            <!-- RIGHT SIDE BAR -->
            <div class="col-xs-3 col-xs-offset-1">
                <!-- MY ROLE -->
                <div class="small-break-container">
                    <hr class="dark-break bold-break"></hr>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">My Role</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">Product Design</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">Interface & Visuals</span>
                    </div>
                </div>
                <!-- WITH -->
                <div class="small-break-container">
                    <hr class="light-break"></hr>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">With</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">Morgan Edgerton</span>
                    </div>
                </div>
                <!-- LINKS -->
                <div class="small-break-container">
                    <hr class="dark-break"></hr>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">Links</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="">Invision Prototype</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row placeholder">
        <div class="placeholder-img" />
    </div>

    <!-- App Architecture -->
    <section class="container-dark">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-5">
                <h2>App Architecture</h2>
                <h3>Donec at justo et tortor sollicitudin porttitor vel porttitor mi. Duis dignissim sodales metus sodales semper. Donec a justo vel dolor sagittis aliquam eget vel elit. Sed efficitur volutpat turpis sit</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <span class="">RetailMeNot Apple Watch v1 Breakdown</span>
            </div>
            <div class="col-xs-5 col-xs-offset-1 left-dark-vertical-break">
                <span class="">RetailMeNot Apple Watch v2 Design</span>
            </div>
        </div>
    </section>

    <!-- DECIDING HOW -->
    <section class="container-light">
        <div class="row">
            <div class="text-center">
                <h2>Deciding how and where we should add features</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-4">
                    <h4>A 3 Option Menu</h3>
                </div>
                <div class="col-xs-4">
                    <h4>Force Touch Menu</h3>
                </div>
                <div class="col-xs-4">
                    <h4>Swiping Menu</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Visual Upgrade -->
    <section class="container-medium">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2">
              <h2>Visual Upgrade</h2>
              <div class="small-break-container header-break-container">
                  <hr class="dark-break bold-break"></hr>
              </div>
              <h3>The first version is black, white, and gray. So we used color to help brand the app and create more hierarchy</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <h4>Nearby Deals Page</h4>
                        <p>Cras egestas auctor massa. Nam sed dolor sapien. Fusce imperdiet vehicula hendrerit. Donec convallis nisl eu ex vehicula, eu interdum sapien consequat.</p>
                    </div>
                    <div class="col-xs-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        <h4>Store Page & Coupon Page</h4>
                        <p>Cras egestas auctor massa. Nam sed dolor sapien. Fusce imperdiet vehicula hendrerit. Donec convallis nisl eu ex vehicula, eu interdum sapien consequat.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4>Sharing Features</h4>
                        <p>Cras egestas auctor massa. Nam sed dolor sapien. Fusce imperdiet vehicula hendrerit. Donec convallis nisl eu ex vehicula, eu interdum sapien consequat.</p>
                    </div>
                    <div class="col-xs-8">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- IMAGE -->
    <section class="row placeholder">
        <section class="placeholder-img" />
    </section>

</div>
